# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of open source tools, commercial tools and cloud based tools available for data scientists
- List of commonly used languages for Data Science like Python, R, Julia etc.
- List of frequently used libraries for Data Science
- Basics of Python and R and understanding Jupyter environment throught handson exercises
- Explored Datasets on DAX, reviewed MAX.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia
4. Java
5. Scala
6. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. NumPy
3. Matplotlib
4. Pandas
5. Keras

| Data Science Tools |
|------------------|
| Jupyter Notebook |
| Apache Zeppelin |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kishen Chandar M